//COLORS
$color-cyan: hsl(171, 66%, 44%);
$color-lightBlue: hsl(233, 100%, 69%);
$color-grayBlue1: hsl(210, 10%, 33%);
$color-grayBlue2: hsl(201, 11%, 66%);

//FONT-SIZE
$default-font-size: 1.8rem;
$fw-400: 400;
$fw-600: 600;